.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    color:  #999;
    background-color: #1a1919;
    font-family: 'Montserrat', sans-serif;
}